/* scroll-buttons.css
Scroll Button Styles
*/
.more {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  bottom: -2rem;
  color: #ffffff;
  display: block;
  height: 4rem;
  left: 50%;
  margin-left: -2rem;
  position: absolute;
  text-align: center;
  width: 4rem;
  z-index: 10;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.more:hover {
  background-color: rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
  color: #e7b788;
}

.more:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  margin-top: -4px;
  margin-left: -8px;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  transform: rotate(45deg);
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-5px);
  }
  60% {
    transform: translateY(-3px);
  }
}

.more {
  animation: bounce 2s infinite;
}

/* Style the wrapper to position the scroll button correctly */
.scroll-button-wrapper {
    position: absolute;
    bottom: -1rem;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 10;
}

.more, .scrolly {
  transition: opacity 0.3s ease-out, transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
