---
// pages/writing.astro
import MainLayout from '../layouts/MainLayout.astro';
import BookshelfPanel from '../components/BookshelfPanel.astro';
import SectionNavigation from '../components/SectionNavigation.astro';

---

<MainLayout
    title="Personal Notes"
    bannerImage='/assets/images/wm-bike.jpeg'
    bannerTitle="Personal Notes"
    bannerDescription="Essays | Stories | Humor"
    showBanner={true}>
    <Fragment slot="description-sub-text">
        I write creative non-fiction and short fiction about life in Berlin and Mumbai, while reflecting through the lens of intersectional feminism and satire.
        I also explore comedy with sketch and screen writing, and organise the FLINTA Sketch Writers group.
    </Fragment>

    <div id="main">
      <SectionNavigation
      backgroundImage='/assets/images/wm-bike.jpeg'
      sections={[
          { id: 'bookshelf', label: 'Bookshelf' },
          { id: 'blog', label: 'Blog' }
        ]}>

          <span id="bookshelf" class="anchor-target"></span>
          <section class="section-container">
            <BookshelfPanel 
              title="Bookshelf"
              maxBooks={3}
              showTitle={true}
            />
          </section>

          <span id="blog" class="anchor-target"></span>
          <section class="section-container">
            <header class="major">
              <h2>Blog</h2>
            </header>
            <p>Coming soon on <a href="https://sejalv.substack.com/">Substack</a></p>
          </section>

        </SectionNavigation>
  </div>
</MainLayout>