---
// pages/professional.astro
import MainLayout from '../layouts/MainLayout.astro';
import BookshelfPanel from '../components/BookshelfPanel.astro';
import CareerSection from '../components/CareerSection.astro';
import SectionNavigation from '../components/SectionNavigation.astro';
---

<MainLayout
    title="Professional"
    bannerImage='/assets/images/night-skyline.jpg'
    bannerTitle="Professional"
    bannerDescription="Data & ML Platforms | Tech Leadership | Data Strategy"
    showBanner={true}>
    <Fragment slot="description-sub-text">
        With 14+ years of Tech industry experience building scalable data platforms in Digital Health, FinTech and e-Commerce.
        Proven track record in reliable and high-impact data systems, embedding platform thinking within cross-functional teams, and shaping data strategy aligned with long-term business goals.

        Currently focused on Data Architecture and Platform Leadership, and designing modular infrastructure to enable analytics, ML, and product growth.
    </Fragment>

  <div id="main">
      <SectionNavigation
      backgroundImage='/assets/images/night-skyline.jpg'
      sections={[
          { id: 'experience', label: 'Experience' },
          { id: 'bookshelf', label: 'Bookshelf' },
          { id: 'blog', label: 'Blog' }
        ]}>

          <span id="experience" class="anchor-target"></span>
          <section class="section-container">
            <CareerSection
              title="Experience"
              gridColumns={4}
              showTitle={true}
            />
          </section>

          <span id="bookshelf" class="anchor-target"></span>
          <section class="section-container">
            <BookshelfPanel
              title="Bookshelf"
              maxBooks={2}
              showTitle={true}
            />
          </section>

          <span id="blog" class="anchor-target"></span>
          <section class="section-container">
            <header class="major">
              <h2>Blog</h2>
            </header>
            <p>Coming soon...</p>
          </section>

        </SectionNavigation>

  </div>
</MainLayout>