---
// pages/writing.astro
import MainLayout from '../layouts/MainLayout.astro';
import BookshelfPanel from '../components/BookshelfPanel.astro';
import SectionNavigation from '../components/SectionNavigation.astro';

---

<MainLayout
    title="Writing"
    bannerImage='/assets/images/wm-bike.jpeg'
    bannerTitle="Personal Notes"
    bannerDescription="Short Stories | Essays | Humor"
    showBanner={true}>
    <Fragment slot="description-sub-text">
        I write creative non-fiction, satire, and short fiction about life in Berlin and Mumbai, while reflecting on intersectional feminism and culture.
        Sometimes, I explore comedy through sketch and screen writing.
    </Fragment>

    <div id="main">
      <SectionNavigation
      backgroundImage='/assets/images/wm-bike.jpeg'
      sections={[
          { id: 'bookshelf', label: 'Bookshelf' },
          { id: 'blog', label: 'Blog' }
        ]}>

          <span id="bookshelf" class="anchor-target"></span>
          <section class="section-container">
            <BookshelfPanel 
              title="Bookshelf"
              minBooks={2}
              maxBooks={4}
              showTitle={true}
            />
          </section>

          <span id="blog" class="anchor-target"></span>
          <section class="section-container">
            <header class="major">
              <h2>Blog</h2>
            </header>
            <p>Coming soon...</p>
          </section>

        </SectionNavigation>
  </div>
</MainLayout>